body {
    padding: 0px 20px 0px 20px;
}

button {
    background-color: #1fbed6;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

nav ul li {
    display: inline-flex;
    /*margin-right: 10px;*/
    position: relative;
    border-right: 1px solid #575757;
    font-size: 12px;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #575757;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #1fbed6;
}

nav {
    align-self: flex-end;
    justify-content: flex-end;
}

header p {
    align-self: flex-start;
    justify-content: flex-start;
    max-width: 150px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

main section {
    padding-bottom: 20px;
}

main section:first-child {
    text-align: center;
    padding: 0px 100px 20px 100px;
    background-color: #f2f2f2;
}

main section:first-child h1 {
    color: #1fbed6;
}

main section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: #f2f2f2;
}

main section:nth-child(2) article {
    background-color: #1fbed6;
    color: white;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

main section:nth-child(2) article h4 {
    margin-bottom: 0;
}

main section:nth-child(2) article p {
    margin-top: 5px;
}

main section:nth-child(2) article span .icon {
    color: #1fbed6;
    margin-top: 20px;
}

main section:nth-child(2) article span .icon-rotate{
    color: #1fbed6;
    margin-top: 20px;
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari 3-8 */
    transform: rotate(-40deg);
}

main section:last-child {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

main section:last-child aside h2{
    text-align: left;
}

main section:last-child section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background: none;
}

main section:last-child section article {
    background: none;
}



footer {
    background-color: #1fbed6;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active {
    color: #1fbed6;
}

.darkGrey {
    color: #575757;
}

.lightGrey {
    color: #787878;
}

i.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.dot {
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
