body {
     padding: 0px 20px 0px 20px;
     font-family: "Open Sans Regular";
}

button {
    background-color: #1fbed6;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header article img {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 20px;
}

header article p {
    align-self: flex-start;
    justify-content: flex-start;
    max-width: 150px;
    font-size: 12px;
}

header article p span {
    color: #1fbed6;
}

nav {
    margin-bottom: 10px;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 12px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}

nav ul li {
    display: inline-flex;
    /*margin-right: 10px;*/
    position: relative;
    border-right: 1px solid #575757;
}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: #575757;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding-top: 20px;
    left: 10px;
    font-size: 11px;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav ul li:hover ul li {
    border: 0;
    color: white;
    margin-top: 2px;
    background-color: #1fbed6;
    padding: 3px 5px 3px 8px;
    width: auto;
}

.fish {
    height: 350px;
    background-image: url('images/fish.jpg');
    background-size: 100%;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.fish p {
    color: white;
    text-align: center;
    padding-top: 130px;
    font-style: 'Open Sans SemiBold';
    font-size: 26px;
}

.fish p button {
    padding: 10px 20px 10px 20px;
    background: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    font-size: 11px;
}

.fish p button:hover {
    background-color: #1fbed6;
    cursor: pointer;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

main section {
    padding-bottom: 20px;
}

main section:first-child {
    text-align: center;
    padding: 0px 100px 20px 100px;
    background-color: #f2f2f2;
    font-style: opensanslight;
    font-size: 15px;
}

main section:first-child h1 {
    color: #1fbed6;
    font-style: opensanssembold;
    font-size: 20px;
}

main section:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: #f2f2f2;
    font-style: opensanslight;
    font-size: 14px;
}

main section:nth-child(2) article {
    background-color: #1fbed6;
    color: white;
    padding: 10px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

main section:nth-child(2) article h4 {
    margin-bottom: 0;
    font-style: opensanssemibold;
    font-size: 18px;
}

main section:nth-child(2) article p {
    margin-top: 5px;
}

main section:nth-child(2) article span .icon {
    color: #1fbed6;
    margin-top: 20px;
}

main section:nth-child(2) article span .icon-rotate{
    color: #1fbed6;
    margin-top: 20px;
    -ms-transform: rotate(-40deg); /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari 3-8 */
    transform: rotate(-40deg);
}

main section:last-child {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

main section:last-child aside {
    width: 100%;
}

main section:last-child aside h2 {
    margin-left: 25px;
    text-align: left;
    margin-bottom: 0;
    font-style: opensanssemibold;
    font-size: 15px;
}

main section:last-child section {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background: none;
}

main section:last-child section article {
    background: none;
    color: black;
    height: 170px;
}

main section:last-child section article aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main section:last-child section article aside p:first-child {
    text-align: left;
    flex-grow: 2;
    margin-right: 10px;
    margin-bottom: 5px;
    font-style: opensanssemibold;
    font-size: 12px;
}

main section:last-child section article aside p:last-child {
    text-align: right;
    flex-grow: 1;
    width: 50px;
    margin-bottom: 5px;
}

main section:last-child section article small {
    float:left;
}

main section:last-child button {
    margin-top: 60px;
    padding: 10px 20px 10px 20px;
    background: none;
    border: 1px solid gray;
}

main section:last-child button:hover {
    background-color: #1fbed6;
    cursor: pointer;
    color: white;
}

footer {
    background-color: #1fbed6;
    color: white;
    padding: 10px 30px 10px 30px;
}

footer section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer section section {
    flex-grow: 1;
    margin-right: 20px;
    width: 200px;
}

footer section section a {
    color: white;
}

footer section section p img {
    margin-top: 5px;
}

footer section section p span {
    margin-top: 5px;
}

footer section section p span .icon {
    height: 12px;
    color: #1fbed6;
    margin-left: 5px;
}

footer aside p {
    text-align: center;
    padding: 0px 250px 0px 250px;
}

.active {
    color: #1fbed6;
}

.darkGrey {
    color: #575757;
}

.lightGrey {
    color: #787878;
}

i.fab {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

.dot {
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.mini-dot {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    body {
        max-width: 1024px;
    }

    .main-menu {
        display: none;
    }

    .menu-toggler {
        display: none;
    }

    .menu-toggler__label {
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 44px;
        height: 100%;
    }

    .menu-toggler__label:hover,
    .menu-toggler__label:focus,
    .menu-toggler__label:active {
        cursor: pointer
    }

    .menu-toggler__label__text {
        position: absolute;
        text-indent: -9999px;
    }

    .menu-toggler__label__visual span {
        display: block;
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: #1fbed6;
        transition: transform .5s, top .5s, bottom .5s, opacity .2s;
        /*transition: transform 4s, top 4s, bottom 4s, opacity 4s;*/
        opacity: 1;
    }

    .menu-toggler__label__visual span:nth-child(1){
        top: 5px;
    }

    .menu-toggler__label__visual span:nth-child(2) {
        top: 50%;
        margin-top: -3px
    }

    .menu-toggler__label__visual span:nth-child(3) {
        bottom: 5px;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(1) {
        transform: rotate(45deg);
        top: 19px;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler:checked + .menu-toggler__label .menu-toggler__label__visual span:nth-child(3) {
        transform: rotate(-45deg);
        bottom: 19px;
    }

    .menu-toggler:checked ~ .main-menu {
        display: block;
    }

    .menu-toggler:checked ~ nav {
        width: 100%;
        position: fixed;
        left: 0;
        top: 45px;
    }

    .menu-toggler:checked ~ nav ul li {
        width: 100%;
        background-color: #1fbed6;
    }

    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 44px;
        border-bottom: 2px solid #1fbed6;
        background-color: #fff;
    }

    header article img {
        height: 40px;
        margin-top: 2px;
    }

    header article p {
        margin-top: 6px;
    }

    nav ul:first-child {
        display: none;
    }

    .menu-toggler:checked ~ nav .main-menu {
        display: block;
    }

    nav .main-menu li {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #fff;
    }

    nav .main-menu a {
        display: block;
        line-height: 44px;
        padding: 0 .7em;
    }

    nav .main-menu a,
    nav .main-menu a:visited,
    nav .main-menu a:hover,
    nav .main-menu a:focus,
    nav .main-menu a:active {
        text-decoration: none;
        color: #fff;
    }

    nav .main-menu a,
    nav .main-menu a:visited {
        background-color: #1fbed6;
    }

    nav .main-menu a:hover,
    nav .main-menu a:focus,
    nav .main-menu a:active {
        background-color: #17a0b5;
    }

}
